<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Bienvenidos a Mercado Liebre</title>
  </head>
  <body>
    <!--Acá comienza el header-->
    <header>
      <section class="cabecera-ppal">
        <div class="cabecera">
          <img
            src="images/logo-mercado-liebre.svg"
            alt="logo de mercado liebre"
          />
        </div>
        <div class="formulario" action="#" method="GET">
          <div class="barra">Buscar productos, marcas y más</div>
          <div class="buscar"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <div class="comprar">
          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjetas de crédito
        </div>
      </section>
      <nav class="menu">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="#">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i>
          </li>
          <li>
            <a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li>
            <a href="#">Mis compras</a
            ><i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
      </nav>
      <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>
    <!--Banner-->
    <div class="banner">
      <img src="/images/img-home-banner.jpg" alt="banner" />
    </div>
    <!--Acá comienza el main-->
    <main>
      <section class="dispositivo">
        <h1>Basado en tu última visita</h1>
        <article class="mosaicos-main">
          <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" />
          <div class="detalle-articulos">
            <p class="envios"><i class="fa-solid fa-truck-fast"></i></p>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <h3>Cafetera Moulinex</h3>
          </div>
        </article>
        <article class="mosaicos-main">
          <img src="/images/img-macbook-pro-2019.jpg" alt="laptop" />
          <div class="detalle-articulos">
            <p class="envios"><i class="fa-solid fa-truck-fast"></i></p>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <h3>MacBook Pro 2019</h3>
          </div>
        </article>
        <article class="mosaicos-main">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="teléfono" />
          <div class="detalle-articulos">
            <p class="envios"><i class="fa-solid fa-truck-fast"></i></p>
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <h3>Samsung Galaxy S10</h3>
          </div>
        </article>
        <article class="mosaicos-main">
          <img src="/images/img-tv-samsung-smart.jpg" alt="smart-tv" />
          <div class="detalle-articulos">
            <p class="envios"><i class="fa-solid fa-truck-fast"></i></p>
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <h3>SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>
      <section class="dispositivo">
        <h1>Ofertas</h1>
        <article class="mosaicos-main">
          <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" />
          <div class="detalle-articulos">
            <p class="envios"><i class="fa-solid fa-truck-fast"></i></p>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <h3>Cafetera Moulinex</h3>
          </div>
        </article>
        <article class="mosaicos-main">
          <img src="/images/img-macbook-pro-2019.jpg" alt="laptop" />
          <div class="detalle-articulos">
            <p class="envios"><i class="fa-solid fa-truck-fast"></i></p>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <h3>MacBook Pro 2019</h3>
          </div>
        </article>
        <article class="mosaicos-main">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="teléfono" />
          <div class="detalle-articulos">
            <p class="envios"><i class="fa-solid fa-truck-fast"></i></p>
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <h3>Samsung Galaxy S10</h3>
          </div>
        </article>
        <article class="mosaicos-main">
          <img src="/images/img-tv-samsung-smart.jpg" alt="smart-tv" />
          <div class="detalle-articulos">
            <p class="envios"><i class="fa-solid fa-truck-fast"></i></p>
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <h3>SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>
    </main>
    <!--Acá comienza el footer-->
    <footer>
      <article class="texto-pie">
        <div class="iconos-pie"><i class="fa-solid fa-credit-card"></i></div>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>
      <article class="texto-pie">
        <div class="iconos-pie"><i class="fa-solid fa-gift"></i></div>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>
      <article class="texto-pie">
        <div class="iconos-pie"><i class="fa-solid fa-user-shield"></i></div>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </article>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
