<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Bienvenidos a Mercado Liebre</title>
  </head>
  <body>
    <!--Acá comienza el header-->
    <header>
      <section class="cabecera-ppal">
        <div class="cabecera">
          <img
            src="images/logo-mercado-liebre.svg"
            alt="logo de mercado liebre"
          />
        </div>
        <form action="#" method="GET" class="formulario">
          <input
            type="text"
            id="busqueda"
            name="busqueda"
            placeholder="Buscar productos, marcas y más"
            class="barra"
          /><!--Buscar productos, marcas y más</div>-->
          <button type="submit" class="buscar">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <div class="comprar">
          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjetas de crédito
        </div>
      </section>
      <nav class="menu">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="register.html">Creá tu cuenta</a
            ><i class="fa-solid fa-id-card"></i>
          </li>
          <li>
            <a href="login.html">Ingresá</a
            ><i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li>
            <a href="#">Mis compras</a
            ><i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
      </nav>
      <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>
    <!--Banner-->
    <div class="banner">
      <img src="/images/img-home-banner.jpg" alt="banner" />
    </div>
    <!--Acá comienza el main-->
    <main>
      <!--Formulario de login-->
      <form action="login" method="POST" class="formulario-usuario">
        <div>
          <label class="etiquetas" for="usuario">Nombre de Usuario: </label>
          <input
            type="text"
            id="usuario"
            name="usuario"
            placeholder="Nombre de usuario"
            pattern="[a-Z]"
            title="El nombre de usuario puede contener caracteres y números"
          />
        </div>
        <div>
          <label class="etiquetas" for="contrasena">Contraseña: </label>
          <input
            type="password"
            id="contrasena"
            name="contrasena"
            placeholder="Contraseña"
            pattern="[a-Z]"
            title="El nombre de usuario puede contener caracteres y números"
          />
        </div>
        <div class="todos-botones">
          <input type="submit" value="Enviar" class="botones" />
        </div>
      </form>
    </main>
    <!--Acá comienza el footer-->
    <footer>
      <article class="texto-pie">
        <div class="iconos-pie"><i class="fa-solid fa-credit-card"></i></div>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>
      <article class="texto-pie">
        <div class="iconos-pie"><i class="fa-solid fa-gift"></i></div>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>
      <article class="texto-pie">
        <div class="iconos-pie"><i class="fa-solid fa-user-shield"></i></div>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </article>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
