@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*definicion de varaibles de colores*/
:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}
/*normalizacion y definicion de tipo de caja*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*definicion de color de fondo*/
html {
  /*max-width: 360px;*/
  background-color: var(--gris-claro);
}
/*definicion de tipo y tamaño de letra*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
/*cabecera*/
header {
  background-color: var(--amarillo);
  height: auto;
}
.cabecera {
  width: 100%;
  padding: 5%;
  text-align: center;
}
.barra {
  border-style: solid;
  border-width: 1px;
  border-color: var(--gris-oscuro);
  width: 70%;
  margin: auto;
  padding: 1%;
  color: var(--gris-oscuro);
  background-color: white;
}
.buscar {
  border-style: solid;
  border-width: 1px;
  border-color: var(--gris-oscuro);
  background-color: var(--gris-claro);
  width: 20px;
  height: 20px;
  padding: 3px;
  margin-left: 15%;
  margin-bottom: 5%;
}
.comprar {
  margin: auto;
  text-align: center;
  width: 70%;
  color: black;
}
nav ul {
  list-style: none;
  margin: 3% 0%;
  padding: 0;
}
nav ul li {
  margin: 1% 0%;
}
nav ul li a {
  text-decoration: none;
  color: black;
  margin: 0% 2% 0% 0%;
}
.menu {
  display: none;
}
.burger-menu {
  background-color: var(--celeste);
  border-style: solid;
  border-color: var(--celeste);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding: 4px;
  margin: 5% auto;
  text-align: center;
  color: white;
  font-size: 26px;
}
.cabecera img {
  width: 70%;
}
.banner img {
  width: 100%;
}

.mosaicos-main {
  background-color: white;
  margin: 5px;
  /*  width: 86%;*/
}
.mosaicos-main img {
  width: 100%;
}
.mosaicos-main div {
  border-top: 1px solid var(--gris-claro);
  padding: 15px;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: center;
}
.envios {
  font-size: 24px;
}
.precios {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.descuentos {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
/*pie de pagina*/
footer {
  margin: auto;
  width: 70%;
  text-align: center;
  color: var(--gris-oscuro);
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0px;
}
.texto-pie {
  padding: 40px 0px;
}
.texto-pie p {
  margin: 0;
}
.iconos-pie {
  color: var(--celeste);
  font-size: 2em;
  margin: 0px 0px 10px 0px;
}

/*pantallas mayores a 480px*/
@media (min-width: 480px) {
  .menu {
    display: block;
  }
  .burger-menu {
    display: none;
  }
}

/*pantallas mayores a 640px*/
