@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*definicion de varaibles de colores*/
:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}
/*normalizacion y definicion de tipo de caja*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*definicion de color de fondo*/
html {
  /*max-width: 360px;*/
  background-color: var(--gris-claro);
}
/*definicion de tipo y tamaño de letra*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
/*cabecera*/
header {
  background-color: var(--amarillo);
  height: auto;
  padding: 20px;
}
.cabecera-ppal {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.cabecera {
  width: 50%;
  text-align: center;
}
.formulario {
  width: 50%;
}
.barra {
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: var(--gris-oscuro);
  /*  width: 70%;*/
  margin: auto;
  padding: 5px;
  color: var(--gris-oscuro);
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.buscar {
  border-style: solid;
  border-width: 1px;
  border-color: var(--gris-oscuro);
  background-color: var(--gris-claro);
  width: 20px;
  height: 20px;
  padding: 3px;
  margin-left: 0%;
  margin-bottom: 5%;
  position: absolute;
  top: 3px;
  right: 1px;
}
.comprar {
  margin: 20px auto;
  text-align: center;
  /*width: 70%;*/
  color: black;
}
nav ul {
  list-style: none;
  margin: 3% 0% 0% 0%;
  padding: 0;
}
nav ul li {
  margin: 1% 0% 0% 0%;
}
nav ul li a {
  text-decoration: none;
  color: black;
  margin: 0% 2% 0% 0%;
}
.menu {
  display: none;
}
.burger-menu {
  background-color: var(--celeste);
  border-style: solid;
  border-color: var(--celeste);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding: 4px;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 26px;
}
.cabecera img {
  width: 70%;
}

.banner img {
  width: 100%;
}

.mosaicos-main {
  background-color: white;
  margin: 15px;
  width: 100%;
  /*  width: 86%;*/
}
.mosaicos-main img {
  width: 100%;
}
.mosaicos-main div {
  border-top: 1px solid var(--gris-claro);
  padding: 15px;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: center;
}
.envios {
  color: var(--verde);
  font-size: 16px;
  /*  border: 1px solid var(--verde);
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;*/
}
.precios {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 30%;
}
.descuentos {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--verde);
  width: 70%;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  display: none;
}
/*pie de pagina*/
footer {
  margin: auto;
  width: 70%;
  text-align: center;
  color: var(--gris-oscuro);
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0px;
}
.texto-pie {
  padding: 40px 0px;
}
.texto-pie p {
  margin: 0;
}
.iconos-pie {
  color: var(--celeste);
  font-size: 2em;
  margin: 0px 0px 10px 0px;
}
.detalle-articulos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}
.dispositivo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.dispositivo h1 {
  width: 100%;
}
/*pantallas mayores a 361px*/
@media (min-width: 361px) {
  .menu {
    display: block;
  }
  .burger-menu {
    display: none;
  }
  .mosaicos-main h3 {
    display: block;
  }
  .mosaicos-main {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .mosaicos-main {
    width: 40%;
  }
}

/*pantallas mayores a 769px*/
@media (min-width: 769px) {
  .mosaicos-main {
    width: 20%;
  }
}
